<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>ERROR</title>
<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="css/assets/css/main.css" /></head>
<body>
<h1>Something went wrong! </h1>
<h2>Our Engineers are on it</h2>
<p><a th:href="@{/home}">Go Home</a></p>
</body>
</html>