<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>LOGOUT</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="css/assets/css/main.css" />
    </head>
    <body>
        <h1>Logged out!</h1>

        <p>Click <a th:href="@{/login}">here</a> to authenticate.</p>
    </body>
</html>