<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Private Page</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="css/assets/css/main.css" />
</head>
<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	
	<form th:action="@{/clickB1(userId)}" method="get" >
	<input type="hidden" th:name="userId" th:value="${userId}" >
	<input type="submit" value="Load Notes" />
	</form>
	
	<form th:action="@{/clickB2(userId)}" method="get" >
	<input type="hidden" th:name="userId" th:value="${userId}" >
	<input type="submit" value="Load book" />
	</form>

	<div th:switch="${notes}">
	<h2>Notes </h2>
	<div th:case="null"></div>
		<div th:case="*">
			<table>
				<thead>
					<tr>
						<th>postId</th>
						<th>name</th>
						<th>email</th>
						<th>body</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="note : ${notes}">
						<td th:text="${note.name}"></td>
						<td th:text="${note.email}"></td>
						<td th:text="${note.body}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
<div th:switch="${book}">
		<h2>Book </h2>
<div th:case="null"></div>
		<div th:case="*">
			<table>
				<thead>
					<tr>
						<th>bookId</th>
						<th>title</th>
						<th>completed</th>
					</tr>
				</thead>
				<tbody>
					<tr >
						<td th:text="${book.userId}"></td>
						<td th:text="${book.title}"></td>
						<td th:text="${book.completed}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
</body>
</html>